textarea.memo {
    display: block;
    width: 90%;
    padding: 4px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    resize: vertical;
    font-size: 20px;
    height: 100%;
}

textarea.memo:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.box {
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    background: #fff;
    /*border: 1px solid #666;*/
    width:90%;

    height: 200px;

    display: flex;
    flex-wrap: wrap;
    /*overflow: hidden;*/
}

div.field {
    box-sizing: border-box;
    /*border: 2px solid #35557f;*/
    width: calc(90%/2);
    height: 200px;
    margin: 2px;
    
    flex-grow: 1;
}